resource "aws_instance" "app" {
  ami           = "ami-0c55b159cbfafe1f0"
  instance_type = "{{ instance_type }}"
  count         = {{ instance_count }}
  tags = merge(var.tags, { Name = "iac-{{ environment }}-app" })
}
