resource "aws_secretsmanager_secret" "{{ secret_name }}" {
  name = "{{ secret_name }}"
}

resource "aws_secretsmanager_secret_version" "{{ secret_name }}_version" {
  secret_id = aws_secretsmanager_secret.{{ secret_name }}.id
  secret_string = jsonencode({
    key = "value"
  })
}
